@{
    List<ProdottoViewModel> Prodotti = Model.Prodotti;
    List<SelectListItem> Categorie = new();
    Prodotti = Prodotti?.OrderBy(p => p.Id).ToList();
    int i = 0;
}

<h3>Prodotti Recenti</h3>

@foreach (var prodotto in Prodotti)
{
    @if (prodotto.CategoriaNome == "Elettronica")
    {
        <strong class="fs-6" style="text-decoration: underline;">@prodotto.Nome</strong>
        <p class="fs-6" style=" display: inline;">@prodotto.Prezzo €</p>
        <p class="fs-6">@prodotto.CategoriaNome</p>
        i++;
    }
    if (i >= 5)
    {
        break;
    }

}
