@page
@model Dashboard
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <partial name="_ProdottiPiuCostosi" model="Model.ProdottiPiuCostosi" />
        </div> 
        <div class="col-4">
            <partial name="_ProdottiRecenti" model="Model.ProdottiRecenti" />
        </div>
        <div class="col-4"> 
            <partial name="_ProdottiCategoriaSpecifica" model="Model.ProdottiCategoria" />
        </div>
    </div>
</div>