@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media screen and (max-width: 600px) {
    main {
        margin-left: 64px;
        margin-right: 64px;
        /* margin: 0;
        padding:0; */
        /* background-color: #fdb041; */
    }

}


@media screen and (min-width: 601px) and (max-width: 900px) {
    main {
        margin-left: 128px;
        margin-right: 128px;

        
        
        /* width: 80%;
        margin: 0 auto; */
         /* background-color: aqua;  */
    }
}

@media screen and (min-width: 901px) and (max-width: 1400px){
    main{
        margin-left: 128px;
        margin-right: 128px;
        
        /* background-color: rgb(229, 0, 0);  */
    }
}

@media screen and (min-width: 1401px){
    main{
        margin-left: 360px;
        margin-right: 360px;
        /* background-color: black;  */
    }
}

#loghi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    
}


 #UMGLOGO{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 128px;
    gap: 8px;
    
  
 }


body {
    font-family: 'Roboto', sans-serif;
     background-color: #18131a ;  
}

a {
    text-decoration: none;
    font-weight: 100;
    margin-left: 8px;
    margin-right: 8px;
}

h1, h2,h3,h4,a{
    color: #fdb041;
    
}

p {
    color:antiquewhite;
    margin-bottom: 32px;
    margin-top: -12px;
    
}

li {
    color:antiquewhite;
 
}

#menu {
    display:flex;
    justify-content: center; /* Centro orizzontale */
    align-items: center;   /* Centro verticale */
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #18131a ;  
    width: 100%;
    height: 36px;
    margin-bottom: 32px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
}

#corpo {
    
    
}

#intestazione {
    display: flexbox;
    margin-top: 64px;
    margin-bottom: 64px;
    justify-content:center;
    align-items:normal;
    flex-direction:row;
    flex-wrap:wrap;
    flex-grow:unset;
    flex-shrink:unset;
    align-self:center;  
    text-align: center;
    background-color: #18131a;
}

#userpic
{
    display: flexbox;
    align-items: center;
    width: 150px;
}